.menu-bar {
  background: #fff;
  height: 80px;
  align-content: center;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

img.logo-seven {
  max-height: 60px;
  display: block;
  padding: 10px;
  margin: 10px;
}

.nav-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

ul {
  display: flex;
  position: relative;
  list-style: none;
  padding-left: 50px;
  padding-top: 25px;
}

ul li {
  padding-left: 30px;
  display: flex;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #5050ff;
  font-size: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}


button {
  padding: 5px;
  background: #5050ff;
  color: #fff;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 5px;
  border-radius: 4px;
  box-shadow: 0 0 rgba(0, 0, 0, 0.5);
}


input {
  padding: 5px;
}

p {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

span {
  display: flex;
  justify-content: center;
  font-weight: 300;
}